<!-- Hero Section -->
<section class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-2xl">
      <figure class="px-8 mb-3">
        <div class="avatar">
          <div
            class="relative w-64 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2"
          >
            <img src="/about/kia.jpg" alt="Profile" />
            <div class="absolute inset-0 bg-base-300/10"></div>
          </div>
        </div>
      </figure>
      <h1 class="text-5xl font-bold">Hi, I’m Kiarash 👋</h1>
      <p class="py-6 text-xl">
        A web developer focused on building fast, modern, and reliable websites.
        I specialize in SvelteKit, Next.js, and Astro, connecting them with
        tools like Strapi, WordPress, and Supabase to create scalable full-stack
        solutions.
      </p>
      <div class="flex gap-4 justify-center">
        <a href="/projects" class="btn btn-primary"> View My Work </a>
        <a href="/contact" class="btn btn-outline"> Contact Me </a>
      </div>
    </div>
  </div>
</section>
