---
import { Icon } from "astro-icon/components";
import type { CollectionEntry } from "astro:content";
import FeaturedProjectCard from "../../components/FeaturedProjectCard.astro";

type props = {
  projects: CollectionEntry<"projects">[];
};
const { projects } = Astro.props as props;
const featuredProjects = projects.filter((p) => p.data.featured);
---

<!-- Featured Projects -->
<section class="py-12 sm:py-20 px-4">
  <div class="container mx-auto max-w-6xl">
    <div class="flex items-center gap-2 mb-8 sm:mb-12">
      <Icon name="lucide:star" class="h-6 w-6 sm:h-8 sm:w-8 text-warning" />
      <h2 class="text-4xl sm:text-4xl font-bold">Featured Projects</h2>
    </div>

    <div class="grid md:grid-cols-2 gap-8 grid-rows-[auto_auto_auto_auto]">
      {featuredProjects.map((project) => (
        <FeaturedProjectCard project={project} />
      ))}
    </div>
  </div>
</section>
