---
import { Icon } from "astro-icon/components";
import type { CollectionEntry } from "astro:content";
import ProjectCard from "../../components/ProjectCard.astro";

type props = {
  projects: CollectionEntry<"projects">[];
};
const { projects } = Astro.props as props;
const otherProjects = projects.filter((p) => !p.data.featured);
---

<!-- Other Projects -->
<section class="py-12 sm:py-20 px-4 bg-base-200">
  <div class="container mx-auto max-w-6xl">
    <h2 class="text-3xl sm:text-4xl font-bold mb-8 sm:mb-12">More Projects</h2>

    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 grid-rows-[auto_auto_auto_auto]">
      {otherProjects.map((project) => (
        <ProjectCard project={project} featured={false} />
      ))}
    </div>
  </div>
</section>
